.row3{
  margin-top: 80px;
  /*border: 1px solid #000;*/
  position: relative;
    /*height: 700px;*/
}
.r3c1{
  margin-top: 25px;
  width: 415px;
  /*border-bottom: 2px solid #11456b;*/
}
.c1p1{
  font-family: SimHei;
  font-weight: bold;
  color: #11456b;
  font-size: 33px;
  border-bottom: 2px solid #11456b;
}
.s0{
  margin-bottom: 16px;
}
.s1{
  font-size: 72px;
  color: #f5e327;
  font-style: italic;
}
.s2{
  /*border: 1px solid #000;*/
  font-size: 42px;
  line-height: 0.25em;
}
.s3{
  padding-bottom: 10px;
}
.c1p2{
  /*border: 1px solid #000;*/
  position: relative;
}
.c1p2 p{
  text-indent: 2em;
  font-size: 12px;
  font-family: SimSun;
  padding-left: 2px;
  letter-spacing: 1px;
  opacity: 0.7;
}
.c1p2 p:first-child{
  text-indent: 0px;
}
.c1p2 p:first-child:first-letter{
  font-size: 70px;
  color: #f5e327;
  font-family: Microsoft YaHei;
  float: left;
}
.c1p2 img{
  float: right;
  padding: 15px 0px 15px 15px;
}
